body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* SIEMPRE 2 columnas */
  gap: 1rem;
  padding: 1rem;
  max-width: 800px;
  margin: 0 auto;
}


.sensor-block {
  background-color: #111;
  padding: 1rem;
  border: 1px solid #333;
  border-radius: 12px;
  text-align: center;
  transition: background 0.3s ease;
}

.session-time {
  background-color: #222;
  border: 2px solid #0ff;
  box-shadow: 0 0 10px #36aa00;
}

.value {
  font-size: 2rem;
  margin: 0.5rem 0;
}

.icon-button {
  background-color: #333;
  border: 1px solid #666;
  border-radius: 50px;
  padding: 0.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
}

.icon-button:hover {
  background-color: #36aa00;
}

.icon-button img {
  width: 24px;
  height: 24px;
}

#startStopBtn {
  width: 100%;
  max-width: 380px; /* Opcional: límite para pantallas grandes */
  height: 60px;
  font-size: 1.2rem; /* También podés aumentar el texto */
  display: block;
  margin: 1rem auto;
  margin-bottom: 1rem;
  background-color: #36aa00;
  border: none;
  color: white;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  font-size: 1.2rem;
  position: relative;
}

#startStopBtn:hover {
  background-color: #be260b;
}

.hold-progress {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

#session-history {
  margin-top: 2rem;
}

.version-section {
  margin-top: 2rem;
  font-size: 0.85rem;
  text-align: center;
  color: #888;
}

.recording {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-weight: bold;
  color: red;
  background-color: #222;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  box-shadow: 0 0 5px red;
}
