body {
  font-family: sans-serif;
  background: #111;
  color: white;
  text-align: center;
  margin: 0;
  padding: 2em;
}

.container {
  max-width: 400px;
  margin: auto;
}

#hr-display {
  font-size: 4em;
  margin: 1em 0;
}
